
    <div id="getting-started">
      <h1>Getting started</h1>
      <h2>Here&rsquo;s how to get rolling:</h2>
      <ol>
        <li>
          <h2>Use <code>rails generate</code> to create your models and controllers</h2>
          <p>To see all available options, run it without parameters.</p>
        </li>

        <li>
          <h2>Set up a root route to replace this page</h2>
          <p>You're seeing this page because you're running in development mode and you haven't set a root route yet.</p>
          <p>Routes are set up in <span class="filename">config/routes.rb</span>.</p>
        </li>

        <li>
          <h2>Create your database</h2>
           <p>Run <code>rake db:create</code> to create your database. If you're not using SQLite (the default), edit <span class="filename">config/database.yml</span> with your username and password.</p>
        </li>
      </ol>  
    </div>


